.DetailsGame {
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin: 1rem 4rem;
}

.DetailsGame .game {
    border-radius: 10px;
    height: 590px;
    min-width: 30%;
    margin: 0;
}

.DetailsGame .game img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 594px;
    width: 100%;
   
}

.Details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 70%;
    margin: 5px 0;
    border-bottom: 4px solid #fff;
}

.description {
    margin: 1rem 0;
}

.tags,
.publishers,
.plataform,
.conq,
.lojas {
    display: flex;
    flex-wrap: wrap;
}

.genres, 
.plataform, 
.lojas, 
.tags,
.publishers {
    margin: 1rem 0;
}

.item {
    background-color: rgba(0, 0, 0, 0.364);
    padding: 10px;
    border-radius: 12px;
    margin: 4px;
}

.item-store {
    background-color: rgba(0, 0, 0, 0.364);
    padding: 10px;
    border-radius: 12px;
    margin: 4px;
}

.item-store:hover {
    color: blueviolet;
}

.item-publishers{
    background-color: rgba(0, 0, 0, 0.364);
    padding: 10px;
    border-radius: 12px;
    margin: 4px;
}

.item-plataform {
    background-color: rgba(0, 0, 0, 0.364);
    padding: 10px;
    border-radius: 12px;
    margin: 4px;
}

.item-tags {
    background-color: rgba(0, 0, 0, 0.364);
    padding: 10px;
    border-radius: 12px;
    margin: 4px;
}

.text-conq {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.shots {
    display: flex;
    flex-wrap: wrap;
}

.shots img {
    width: 33%;
    padding: 10px;
    margin: 2px;
}

@media screen and (max-width: 500px) {
    .DetailsGame {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 4rem;
    }

    .DetailsGame .game {
        border-radius: 10px;
        height: 590px;
        min-width: 100%;
        margin-bottom: 1rem;
    }

    .info {
        width: 100%;
        margin: 5px 0;
        border-bottom: 4px solid #fff;
    }

    .shots {
        justify-content: center;
    }
    
    .shots img {
        width: 100%;
        padding: 10px;
        margin: 2px;
    }

    .page {
        margin: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .DetailsGame {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 4rem;
    }

    .DetailsGame .game {
        border-radius: 10px;
        height: 590px;
        min-width: 30%;
        margin-bottom: 1rem;
    }

    .info {
        width: 100%;
        margin: 5px 0;
        border-bottom: 4px solid #fff;
    }

    .shots {
        justify-content: center;
    }
    
    .shots img {
        width: 100%;
        padding: 10px;
        margin: 2px;
    }

    .page {
        margin: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .DetailsGame {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 4rem;
    }

    .DetailsGame .game {
        border-radius: 10px;
        height: 590px;
        min-width: 30%;
        margin-bottom: 1rem;
    }

    .info {
        width: 100%;
        margin: 5px 0;
        border-bottom: 4px solid #fff;
    }

    .shots {
        justify-content: center;
    }
    
    .shots img {
        width: 100%;
        padding: 10px;
        margin: 2px;
    }

    .page {
        margin: 1rem;
    }
}

@media screen and (max-width: 1124px) {
    .DetailsGame {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 4rem;
    }

    .DetailsGame .game {
        border-radius: 10px;
        height: 590px;
        min-width: 100%;
        margin-bottom: 1rem;
    }

    .info {
        width: 100%;
        margin: 5px 0;
        border-bottom: 4px solid #fff;
    }

    .shots {
        justify-content: center;
    }
    
    .shots img {
        width: 100%;
        padding: 10px;
        margin: 2px;
    }

    .page {
        margin: 1rem;
    }
}

