* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(33, 32, 32);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: red;
}



