* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(33, 32, 32);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: red;
}

/*ScrollBar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #f7d354;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: blueviolet;
}